.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;

  font-family: "Urbanist";
  padding: 0;
  border-radius: 12px;
  &.icon {
    font-size: 1.1rem;
    padding: 0.5rem 0.75rem;
  }
  
  &.iconText {
    font-size: 1.1rem;
    padding: 0.5rem 0.75rem;
    i { margin-right: 0.5rem; }
  }

  &.text {

  }
  
  &:hover { background-color: var(--P5S1); }
  &:active { scale: 0.9; }
  transition: all ease-in-out 75ms;
}