.searchContainer {
  display: grid;
  position: relative;
  place-items: center;
  
  .searchIcon {
    background-color: transparent;
    border: none;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 0.95rem;
    font-size: 1rem;
    cursor: pointer;
    
    &:active { scale: 0.9; }
    transition: all ease-in-out 75ms;
  }
  .searchInput {
    background-color: var(--P1P8);
    box-sizing: border-box;
    border: none;
    padding: 0.75rem 1.15rem;
    padding-left: 2.5rem;
    border-radius: 18px;
    width: 100%;
    &:focus-visible { outline: none; }
    &::placeholder { color: #ffffffc1; }
  }
}