.productSpecificInfoContainer {
  position: fixed;

  display: flex;
  place-content: center;
  place-items: center;

  background-color: transparent;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  opacity: 0;
  
  z-index: 1002;
  
  @media (max-width: 1050px) { place-items: end; }
  
  .backgroundScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.75);
    z-index: 1001;

    pointer-events: none;
  }

  .productSpecificInfo {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 1fr;
    position: relative;

    width: 80%;
    height: 50%;

    translate: 0% -35%;

    background-color: var(--P1P7);
    box-shadow: var(--boxShV1);
    border-radius: 15px;

    padding: 2rem;

    z-index: 1003;

    .closeContainer {
      position: absolute;
      top: 0;
      right: 0;
      button {
        margin: 1rem 1rem 0 0;
        background-color: transparent;
        box-shadow: none;
        &:hover { background-color: var(--P1P6); box-shadow: var(--SHP1P6); }
        transition: all ease 150ms;
      }
    }
    
    header {
      display: flex;
      width: 100%;
      position: relative;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        border-radius: 15px;
        object-fit: cover;
      }
      
    }

    main {
      display: grid;
      grid-template-rows: auto auto 1fr;
      padding: 1rem 2rem;

      .productName {
        font-size: 1.75rem;
        font-weight: 600;
        .name { margin-top: 0; }
        .category {
          color: #ffffffc7;
          font-size: 0.95rem;
          
          i { margin-right: 0.5rem; }
        }
      }

      .productDescription {
        font-size: 1.25rem;
        font-weight: 400;
        text-align: justify;
      }

      .productDetails {
        display: grid;
        grid-template-columns: 1fr auto auto;
        width: 100%;
        place-items: center;
        place-content: center;
        place-self: end;
        
        .productPrice {
          display: flex;
          place-content: end;
          font-size: 1.5rem;
          width: 100%;
          font-weight: 700;
          margin-right: 2rem;
        }

        .productCount {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          place-items: center;
          place-content: center;
          background-color: var(--P1P8);
          box-shadow: var(--boxSh);
          border-radius: 15px;
          padding: 0.75rem 1.25rem;
          margin-right: 2rem;

          font-size: 1rem !important;

          .count {
            font-size: 1.25rem;
            margin: 0 0.5rem;
          }

        }

        .addToCartContainer {
          button { padding: 1rem 1.5rem; }
        }
      }
    }

    @media (max-width: 1050px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      width: 75%;
      height: 75%;

      translate: 0% 50%;
      .closeContainer { display: none; }
    }

    @media (max-width: 768px) {
      width: 100%;
    }

    transition: translate var(--Anim1) 125ms;
  }

  &.active {
    .productSpecificInfo {
      translate: 0%;
    }

    .backgroundScreen { pointer-events: all; }

    opacity: 1;
  }

  transition: all ease-in-out 125ms;
}