/*----------------------------------PALETTES----------------------------------*/
/*PALLETE 1*/
$PALLETE1: (
//PRIMARY
'P1P1': #030708,
'P1P2': #746F6B,

'P1P4': #3A281A,
'P1P5': #806E60,

'P1P6': #40373C,
'P1P7': #938787,
//SECONDARY
'P1S1': #C6C2B9,
'P1S2': #F5F3F4,
'P1S3': #FFFFFF,

'P1S4': #B5ACA3,
'P1S5': #EBE4DC,

'P1S6': #C5B6B1,
'P1S7': #E5E3E4,
'P1S8': #F5F6F8,
);
/*---------*/

/*PALLETE 2*/
$PALLETE2: (
//PRIMARY
'P2P1': #151414,
'P2P2': #444342,
//SECONDARY
'P2S1': #99958D,
'P2S2': #DCDBD8,
'P2S3': #F1F0EE
);
/*---------*/

/*PALLETE 3*/
$PALLETE3: (
//PRIMARY
'P3P1': #050D1A,
'P3P2': #15273F,
'P3P3': #456685,
//SECONDARY
'P3S1': #B3C4D4,
'P3S2': #FDF8F5
);
/*---------*/
/*----------------------------------------------------------------------------*/
