/*----------------------------------PALETTES----------------------------------*/
/*PALLETE 1*/
$PALLETE1: (
//PRIMARY
'P1P1': #030708,
'P1P2': #746F6B,

'P1P3': #3A281A,
'P1P4': #806E60,

'P1P5': #40373C,
'P1P6': #938787,
'P1P7': #212121,
'P1P8': #242424,
//SECONDARY
'P1S1': #C6C2B9,
'P1S2': #F5F3F4,
'P1S3': #FFFFFF,

'P1S4': #B5ACA3,
'P1S5': #EBE4DC,

'P1S6': #c5b6b1,
'P1S7': #E5E3E4,
'P1S8': #F5F6F8,
);
/*---------*/

/*PALLETE 2*/
$PALLETE2: (
//PRIMARY
'P2P1': #151414,
'P2P2': #444342,
//SECONDARY
'P2S1': #99958D,
'P2S2': #DCDBD8,
'P2S3': #F1F0EE
);
/*---------*/

/*PALLETE 3*/
$PALLETE3: (
//PRIMARY
'P3P1': #050D1A,
'P3P2': #15273F,
'P3P3': #456685,
//SECONDARY
'P3S1': #B3C4D4,
'P3S2': #FDF8F5
);
/*---------*/
/*PALLETE 4*/
$PALLETE4: (
//PRIMARY
'P4P1': #2E3632,
'P4P2': #202623,
'P4P3': #111513,

'P4P4': #1E2124,
'P4P5': #151719,
'P4P6': #000000,
//SECONDARY
'P4S1': #CAB8A2,
'P4S2': #BFA98F,
'P4S3': #B8A082,

'P4S4': #837767,
'P4S5': #766B5C,
'P4S6': #736859
);
/*---------*/
/*PALLETE 5*/
$PALLETE5: (
//PRIMARY
'P5P1': #4E545D,
'P5P2': #282B2E,
'P5P3': #3E3E3D,
//SECONDARY
'P5S1': #9F948E,
'P5S2': #D6D5DD
);
/*---------*/
/*----------------------------------------------------------------------------*/

/*EXPORTS*/
$PALLETES: $PALLETE1, $PALLETE2, $PALLETE3, $PALLETE4, $PALLETE5;

$HVPalletes: ();
@each $pallete in $PALLETES {
  $vals: ();
  @each $name, $color in $pallete {
    $vals: map-merge(
      $vals,
      ('HV#{$name}': rgba($color, 0.90))
    );
  }

  $HVPalletes: append($HVPalletes, $vals)
}

$SHADOWS: ();
@each $pallete in $PALLETES {
  
  $vals: ();
  @each $name, $color in $pallete {
    $vals: map-merge(
      $vals,
      ('SH#{$name}': 0px 0px 15px 1px rgba($color, 0.1))
    );
  }
  
  //#{'$PALLETE' + (index($PALLETES, $pallete) + 1) + 'Shadows'}: $vals;
  $SHADOWS: append($SHADOWS, $vals)
}


/*--------*/