@use './colors' as colors;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..900&family=Urbanist:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap');

$fontWeights: (
  'Thin': 100, 'ExLight': 200,
  'Light': 300, 'Medium': 500,
  'SBold': 600, 'Bold': 700,
  'ExBold': 800, 'Black': 900
);

@each $fSizeName, $fSize in $fontWeights {
  .#{$fSizeName} { font-weight: $fSize !important; }
}

:root {
  @each $name, $color in colors.$PALLETE1 { --#{$name}: #{$color}; }
  @each $name, $color in colors.$PALLETE2 { --#{$name}: #{$color}; }
  @each $name, $color in colors.$PALLETE3 { --#{$name}: #{$color}; }
  
  font-family: 'Urbanist', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  

  color: var(--P1S8);
  background-color: var(--P2P1);
}

body, html, #root, .App {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .Nunito    { font-family: 'Nunito', sans-serif !important; }
  .ZillaSlab { font-family: 'Zilla Slab', sans-serif !important; }
}

.Text {
  font-size: 5rem;
  font-weight: 500;
}