.home {
  display: grid;
  height: 100%;

  overflow-x: hidden;
  overflow-y: overlay;
  
  .titleContainer {
    display: flex; flex-direction: column;
    place-items: center;
    .title {
      text-align: center;
      font-size: 2rem;
      b { letter-spacing: 3px; }
    }
  }
}